DATABASE_URL="YOUR_DATABASE_URL_HERE"
DIRECT_URL="YOUR_DIRECT_URL_HERE"

# Server
PORT=5000
NODE_ENV=development

# JWT — GANTI dengan secret yang aman di production!
JWT_SECRET=posyandu_super_secret_key_ganti_di_production
JWT_EXPIRES_IN=7d

# Client URL (untuk CORS)
CLIENT_URL=http://localhost:3000
